{% extends "_layout.common.twig" %}

{% block page %}

<section class="showcase">
	<div class="showcase__logo">
		<svg class="logo logo--center">
		    <use xlink:href="/dist/svg/svg.svg#logo-center" />
		</svg>
	</div>
</section>

<section class="baseinfo">
	<div class="baseinfo__lang baseinfo__lang--left">
		<a href="{{ langswitch.left.link }}" class="langhref">{{ langswitch.left.title }}</a>
	</div>
	<div class="baseinfo__address">
		<p>
			{{ address.name }}, {{ address.open }} <br>
			{{ address.contact }}, <a href="{{ address.map }}">{{ address.address }}</a>
		</p>
	</div>
	<div class="baseinfo__lang baseinfo__lang--right">
		<a href="{{ langswitch.right.link }}" class="langhref langhref--right">{{ langswitch.right.title }}</a>
	</div>

</section>

<footer class="footer">
	<div class="footer__inner">
		<div class="footer__address">
			<h3 class="footer__sectiontitle">{{ kontaktpage.title }}</h3>
			{% for kontaktsection in kontaktpage.sections %}
				<h4 class="footer__sectionsubtitle">{{ kontaktsection.title }}</h4>
				<p>
					{% for kontaktline in kontaktsection.lines %}
						{{ kontaktline }} <br>
					{% endfor %}
				</p>
			{% endfor %}
		</div>
	</div>
</footer>

<section class="goodbeye">
	<p class="goodbeye__bonapetit">{{ bonapetit }}</p>
	<p>Jasmin restaurant</p>
</section>



{% endblock %}
